.container {
  width: 800px;
  margin: auto;
  background-color: white;
}

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/baground.jpg);
  color: #333;
}

.header {
  padding: 10px;
  padding: 5px;
}

.header ul li {
  display: inline-block;
  margin-right: 50px;
}

.header a {
  text-decoration: none;
  color: black;
  padding: 3px;
}

.header.judul {
  font-size: 40px;
  font-weight: bold;
}

.footer .copy {
  color: white;
  text-align: center;
  font-size: 10px;
}

.footer {
  background-color: #333;
}

.hero {
  height: 500px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 0 0;
  border-top: 5px solid lightblue;
  border-bottom: 5px solid salmon;
}

.content {
  padding: 15px;
}

.content .penulis {
  font-size: 13px;
  margin-top: -15px;
}

.paragraf1 {
  font-size: 15px;
  margin-top: -15px;
}

.content .penulis a {
  color: blue;
}
